:root {
  --transparent: #fff0;
  --yellow: #ffc000;
  --hover-grey: #999999;

  /* light mode styles */
  --black: #1d1d1b;
  --white: #fff;
  --lightgrey: #fafafa;

  /* dark mode styles */
  --darkmode-darkgrey: #101010;
  --darkmode-lightgrey: #191818;

  /* fonts */
  --font: "Helvetica Neue";
  --bold: 800;
  --medium: 500;
  --regular: 400;

  /* animations */
  --short: 0.4s;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "FoundersGrotesk-Web";
  src: url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-medium.eot");
  src: url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-medium.eot?")
      format("embedded-opentype"),
    url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-medium.woff2")
      format("woff2"),
    url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-medium.woff")
      format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "FoundersGrotesk-Web";
  src: url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-regular.eot");
  src: url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-regular.eot?")
      format("embedded-opentype"),
    url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-regular.woff2")
      format("woff2"),
    url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-regular.woff")
      format("woff");
  font-style: normal;
  font-weight: 400;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  line-height: 1.2;
  transition: 0.3s;
  position: relative;
}

a.link {
  border-bottom: 1px solid var(--black);
}

a:link:hover {
  transition: 0.3s;
  cursor: pointer;
}

/* fonts */
h1,
h2 {
  font-family: FoundersGrotesk-Web, sans-serif;
  font-weight: var(--medium);
  font-style: normal;
  font-size: 2.4rem;
  line-height: 1.1em;
  margin: 0;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 1.6rem;
}

.highlighted {
  color: var(--yellow);
}

p,
::placeholder {
  font-family: FoundersGrotesk-Web, sans-serif;
  line-height: 1.6em;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

/* general */
body {
  background-color: var(--white);
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  padding: 0;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  padding: 2rem 1rem;
  display: grid;
  grid-auto-columns: auto;
  grid-gap: 2rem;
  width: 100%;
}

.centered {
  text-align: center;
}

/* button */
.button {
  background-color: var(--white);
  color: var(--black);
  border: 3px solid var(--white);
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  width: fit-content;
  pointer-events: all;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 999;
}

.button.inverted {
  background-color: var(--transparent);
  color: var(--white);
  border: 3px solid var(--white);
}

.left-arrow::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid var(--transparent);
  border-bottom: 5px solid var(--transparent);
  border-right: 5px solid var(--black);
  border-radius: 0.4rem;
  margin-right: 0.5rem;
}

/* header */
header {
  padding: 2rem 0;
}

/* cards */
#cards {
  display: grid;
  grid-gap: 1rem;
}

@media screen and (min-width: 760px) {
  #cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
}

.card {
  background-color: var(--black);
  color: var(--white);
  border-radius: 0.5rem;
  width: 100%;
  height: fit-content;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.card.inverted {
  background-color: var(--white);
  color: var(--black);
  border: 3px solid var(--black);
}

/* toggle card on click */
.dropdown {
  overflow: hidden;
  max-height: 0px;
  transition: max-height var(--short);
  display: grid;
  grid-gap: 1rem;
}

.card.clicked .dropdown {
  max-height: 4000px;
}

/* add spacing above dropdown */
.dropdown::before {
  content: "";
  display: block;
  margin-top: 0.5rem;
}

/* dropdown arrow */
.dropdown-arrow {
  height: 20px;
  width: 20px;
  background-color: var(--white);
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-arrow::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--black);
  border-radius: 0.4rem;
  transition: var(--short) ease-out;
}

/* dropdown inverted styling */
.card.inverted .dropdown-arrow {
  background-color: var(--black);
}

.card.inverted .dropdown-arrow::after {
  border-top-color: var(--white);
}

/* dropdown arrow animations */
.card.clicked .dropdown-arrow::after {
  transform: rotate(180deg);
}

/* card styling */
.card-container {
  padding: 0 1rem 1rem 1rem;
}

.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-icon {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0.5rem 0 1rem 0;
}

/* explore the cohort card styling */
.cohort {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#explore-the-cohort .profile:nth-child(3n) {
  grid-column: span 2;
}
.profiles-layout {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.profile {
  align-self: center;
  justify-self: center;
  padding: 1rem 0;
}

.profile.clicked {
  grid-column: span 2;
}

.bio {
  display: none;
}

.profile.clicked .bio {
  display: block;
}

.profile.clicked .name {
  font-weight: var(--medium);
}

.headshot {
  display: flex;
  width: 60px;
  border-radius: 9999rem;
  border: 3px solid var(--white);
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

#explore_navigation {
  display: grid;
  grid-gap: 1rem;
}

/* hide last profile after being cloned by jQuery */
article:last-child {
  display: none;
}
